.loadMoreButton {
    font-family: inherit;
    font-size: 24px;
    font-weight: 700;
    margin: 20px;
    padding: 14px 20px;
    color: hwb(0 34% 65%);
    border: 5px solid #6ba4f4d4;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
  }
  .loadMoreButton:focus,
  .loadMoreButton:hover {
    border: 5px solid #6ba4f4d4;
  }